/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Shrikhand&display=swap');

:root {
    /* fonts */
    --name-font: 'Bebas Neue', cursive;
    --basic-font: 'Poppins', sans-serif;
    --title-font: 'Shrikhand', cursive;
    /* colors */
    --main-accent: #382112;
    --other-accent: #3ea8a5;
    --background: #F7F0E4;
}

/* BASIC */
html {
    background-color: var(--background);
    font-family: var(--basic-font);

}

body {
    text-align: center;
}

h1 {
    font-family: var(--title-font);
    color: var(--other-accent);
    font-size: 65px;
    letter-spacing: 2px;
    margin: 0;
}

h2 {
    color: var(--main-accent);
    font-family: var(--name-font);
    font-size: 40px;
    margin: 5px;
}

/* HOME PAGE */

.container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 2em auto;
    padding: 1em 3em 3em 3em;
    border-radius: 1em;
    background: white;
    box-shadow: 2px 2px #ddd;
    justify-content: space-around;
}

.each_pet_home {
    display: block;
    width: 40vh;
    margin: 50%, 0, 50%, 0
}

.index_img {
    width: 30vh;
    height: auto;
    border-radius: 1em;
    box-shadow: 2px 2px #ddd;
    transition: transform .3s;
}

/* Animation */
.index_img:hover {
    transform: scale(1.1);
    opacity:0.7;
}

.add_recipe {
    width: 100%;
}

.button_link {
    background-color: var(--other-accent);
    border-radius: 1.5em;
    padding-left: 40px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    text-decoration: none;
    color: white;
}

.button_link:hover{
    background-color: white;
    border:1px solid var(--other-accent);
    color: var(--other-accent);
}

/* EACH PET */
.block {
    display: inline-block;
    width: 40vh;
    margin: 50%, 0, 50%, 0
}

.page_img {
    width: 40vh;
    height: auto;
    border-radius: 1em;
    box-shadow: 2px 2px #ddd;
}

#facts {
    height: 40vh;
    margin-top: 65px;
}

#text {
    background-color: var(--background);
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 2px 2px #ddd;

}

#home_button {
    align-self: last baseline;
}

/* Facts Submit Page */

#fact-container {
    width: 30%;
}

.form-input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.input{
    width: 60%;
    border: 0;
    background-color: var(--background);
    padding: 10px;
    border-radius: 1em;
    box-shadow: 2px 2px #ddd;
   
}

#fact {
    height: 200px;
    font-size: 16pt;
    vertical-align: text-top;
}

::placeholder{
    vertical-align: top;
}

#facts-home-link{
    color: var(--other-accent)
}

/* Facts View Page */

.each_fact{
    display: block;
    width: 40vh;
    margin: 50%, 0, 50%, 0;
    text-align: left;
}

.submitter{
    font-family: var(--name-font);
    letter-spacing: 1px;
    color: var(--other-accent);
    font-size: 20px;
}