<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbidden Ingredients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>
        Forbidden Ingredients
    </h1>
    <div class="container">
        {% for pet in pets %}
        <div class="each_pet_home">
            <h2>{{pet.pet_name}}</h2>
            <a href="http://127.0.0.1:5000/pets/{{pet.pet_id}}">
                <img class="index_img" src="{{pet.pet_photo}}" alt="{{pet.pet_name}}">
            </a>
        </div>
        {% endfor %}
        <p class="add_recipe"><a class="button_link" href="http://127.0.0.1:5000/facts/new">Add a Recipe</a></p>
    </div>

</body>

</html>