<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>User Input</title>
</head>

<body>
    <h1>User Recipes</h1>
    <div class="container">

        {% for fact in facts %}
        <div class="each_fact">
            <h4 class="submitter"> Submitted by {{fact.submitter}}</h4>
            <p>{{fact.fact}}</p>
        </div>
        {% endfor %}
    </div>
</body>

</html>