<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Facts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div>
        <h1>Add a fact!</h1>
        <form>
            <div>
                <label for="submitter">Submitter</label>
                <input type="text" id="submitter" name="name" />
            </div>
            <div>
                <label for="new_fact">Your Fact</label>
                <textarea id="new_fact" name="fact">
                    Enter fact here
                </textarea>
            </div>
            <input type="submit" />
        </form>
    </div>
</body>

</html>