<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Facts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div>
        <h1>Add a fact!</h1>
        <form action="/facts" method="POST" class="container" id="fact_container">
            <div class="form-input">
                <input class="input" type="text" id="submitter" name="submitter" placeholder="Submitter" />
            </div>
            <div class="form-input">
                <textarea class="input" type="text" id="fact" name="fact">Write your fact here</textarea>
            </div>
            <div class="form-input">
                <input class="button_link" type="submit" />
            </div>
            <div>
                <a href="http://127.0.0.1:5000/pets/" id="facts-home-link">Back to Home</a>
            </div>
        </form>
    </div>
</body>

</html>